@import 'tailwindcss';
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/rose';
@import './soulsweets.css';
@import '@fontsource/open-sans';
@import '@fontsource/mr-de-haviland';
@import '@fontsource/marck-script';
@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

[data-theme='soulsweets'] body {
	background-color: hsla(290, 100%, 98%, 1);
	background-image:
		radial-gradient(at 80% 53%, hsla(290, 70%, 90%, 1) 0px, transparent 30%),
		radial-gradient(at 0% 0%, hsla(300, 60%, 92%, 1) 0px, transparent 30%);
	animation: gradient 20s ease infinite;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* body {
  font-family: 'Mr De Haviland', cursive;
} */

.font-mr-de-haviland {
	font-family: 'Mr De Haviland', cursive;
}
.font-marck-script {
	font-family: 'Marck Script', cursive;
}